{% extends 'baseadmin2.html.twig' %}

{% block contentadmin2 %}
    <br>
    <br>
    <br>
    <br>

    <h1>Activite1</h1>

    <table>
        <tbody>
            <tr>
                <th>Idactivite</th>
                <td>{{ activite1.idActivite }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ activite1.nom }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ activite1.type }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ activite1.adresse }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ activite1.pays }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ activite1.region }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ activite1.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ activite1.prix }}</td>
            </tr>
            <tr>
                <th>Placedisponible</th>
                <td>{{ activite1.placedisponible }}</td>
            </tr>
            <tr>
                <th>Valider</th>
                <td>{{ activite1.valider }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('afficher_par_id') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('moidifier_activite', { 'idActivite': activite1.idActivite }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
