{% extends 'baseadmin2.html.twig' %}
 {% block contentadmin2 %}
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
<h1>Ajouter un voyage organise</h1>
     {%set flashbag_notices=app.session.flashbag.get('notice')%}
     {%if flashbag_notices is not empty%}
         <center><ul class="error" >{%for notice in flashbag_notices%}
                 {{notice}}
             {%endfor%}
         </ul></center>{%endif%}
     {%set flashbag_notices=app.session.flashbag.get('info')%}
     {%if flashbag_notices is not empty%}
         <center><ul class="success" >{%for info in flashbag_notices%}
                 {{info}}
             {%endfor%}
         </ul></center>{%endif%}
     {{ form_start(form) }}
     <table>



         <tr><td>{{ form_label(form.prix_voyage) }}</td>
             <td>{{ form_widget(form.prix_voyage, { 'id': 'prix_voyage' }) }}</td></tr>

         <tr>
             <td> {{ form_label(form.dateDepart) }}</td>
             <td> {{ form_widget(form.dateDepart, { 'id': 'dateDepart' }) }}</td>
         </tr>

         <tr><td>{{  form_label(form.dateRetour) }}</td>
             <td>{{ form_widget(form.dateRetour, { 'id': 'dateRetour' }) }}</td></tr>
         <tr><td>{{ form_label(form.origine) }}</td>
             <td>{{ form_widget(form.origine, { 'id': 'origine' }) }}</td></tr>
         <tr><td>{{ form_label(form.pays_destination) }}</td>
             <td>{{ form_widget(form.pays_destination, { 'id': 'pays_destination' }) }}</td></tr>
         <tr><td>{{ form_label(form.ville_destination) }}</td>
             <td>{{ form_widget(form.ville_destination, { 'id': 'ville_destination' }) }}</td></tr>
         <tr><td>{{ form_label(form.nb_places) }}</td>
             <td>{{ form_widget(form.nb_places, { 'id': 'nb_places' }) }}</td></tr>
         <tr><td>{{ form_label(form.hotel) }}</td>
             <td>{{ form_widget(form.hotel, { 'id': 'hotel' }) }}</td></tr>
         <tr><td>{{ form_label(form.nom_agence) }}</td>
             <td>{{ form_widget(form.nom_agence, { 'id': 'nom_agence' }) }}</td></tr>

         <tr><td>{{ form_label(form.image) }}</td>
             <td> {{ form_widget(form.image, { 'id': 'image' }) }}</td></tr>
         <tr><td>{{ form_label(form.save) }}</td>
             <td>{{ form_widget(form.save, { 'id': 'save' }) }}</td></tr>

     </table>
     {{ form_end(form) }}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


{% endblock %}